<section id="create-page">
    <div class="createSection">
        <div class="info">
            <h2>"Today, I consider myself the luckiest man on the face of the earth." -The Pride of the Yankees, 1942
            </h2>
        </div>

        <form method="POST" class="createForm">
            <h2>Add Movie</h2>
            {{#if error}}<p>{{error}}</p>{{/if}}
            <ul class="noBullet">
                <li>
                    <label for="title">Title:</label>
                    <input type="text" class="inputFields" id="title" name="title" value="{{formData.title}}" />
                </li>
                <li>
                    <label for="category">Category:</label>
                    <select id="category" class="inputFields" name="category">
                        <option value="">Select Category</option>
                        {{#each options}}
                        <option {{#if selected}}selected="{{selected}}" {{/if}} value="{{value}}">{{content}}</option>
                        {{/each}}
                    </select>
                </li>
                <li>
                    <label for="genre">Genre:</label>
                    <input type="text" class="inputFields" id="genre" name="genre" value="{{formData.genre}}" />
                </li>
                <li>
                    <label for="director">Director:</label>
                    <input type="text" class="inputFields" id="director" name="director"
                        value="{{formData.director}}" />
                </li>
                <li>
                    <label for="year">Year:</label>
                    <input type="number" class="inputFields" id="year" name="year" value="{{formData.year}}" />
                </li>
                <li>
                    <label for="imageUrl">Movie Poster:</label>
                    <input type="text" class="inputFields" id="imageUrl" name="imageUrl"
                        value="{{formData.imageUrl}}" />
                </li>
                <li>
                    <label for="rating">Rating:</label>
                    <input type="text" class="inputFields" id="rating" name="rating" value="{{formData.rating}}" />
                </li>
                <li>
                    <label for="description">Description:</label>
                    <textarea id="description" class="inputFields"
                        name="description">{{formData.description}}</textarea>
                </li>

                <li id="center-btn">
                    <button id="create-btn">Add Movie</button>
                </li>
            </ul>
        </form>


    </div>
</section>