<h2>Recipe Catalog</h2>
<section class="recipes">

    {{#each recipes}}
    <article class="recipe">
        <img src="{{image}}" alt="{{name}}">
        <h3>{{name}}</h3>
        <p>{{description}}</p>
        <a href="/recipes/details/{{_id}}">Read More</a>
    </article>
    {{else}}
    <p class="no-post">There are no recipes found yet!</p>
    {{/each}}
    <!-- Add more recipes here -->

    <!-- <p class="no-post">There are no recipes found yet!</p> -->
</section>