{{setTitle 'Create Product - GlowAlchemy'}}
<section class="form-container">
  <h2>Create Product Card</h2>
  <form method="POST">
    <label for="name">Product Name:</label>
    <input type="text" id="name" name="name" value="{{userInput.name}}" />

    <label for="skin">Skin Type:</label>
    <textarea id="skin" name="skin">{{userInput.skin}}</textarea>

    <label for="description">Product Description:</label>
    <textarea id="description" name="description">{{userInput.description}}</textarea>

    <label for="ingredients">Key Ingredients:</label>
    <textarea id="ingredients" name="ingredients">{{userInput.ingredients}}</textarea>

    <label for="benefits">Benefits:</label>
    <textarea id="benefits" name="benefits">{{userInput.benefits}}</textarea>

    <label for="price">Price:</label>
    <input type="number" id="price" name="price" value="{{userInput.price}}" />

    <label for="image">Image URL:</label>
    <input type="url" id="image" name="image" value="{{userInput.image}}" />

    <button type="submit">Create Product Card</button>
  </form>
</section>