<section id="attachCast">
    <div class="attachCastSection">
        <h1>Attach New Cast</h1>
        <div class="attach-form">
            <h2>{{movie.title}}</h2>
            <img class="movie" src="{{movie.imageUrl}}">
            <form method="POST">
                {{#if error}}<p>{{error}}</p>{{/if}}
                <label for="cast">Cast</label>
                <select id="cast" name="cast">
                    {{#each cast}}
                    <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
                <div>
                    <label for="nameInMovie">Name in movie:</label>
                    <input type="text" name="nameInMovie" id="nameInMovie">

                </div>
                <div id="center-btn">
                    <button id="create-btn">Add Cast</button>
                </div>
            </form>
        </div>
    </div>
</section>